.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.user {
    width: 300px;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;

    & p > p {
        color: red;
    }
}
